/*
 * Ho bisogno della position relative, per poter lavorare con lo z-indez, ed avere
 * la texture che scorre sotto la navbar. Ma devo indagare la differenza tra
 * static e relative
 */
.navbar {
  background: linear-gradient(0deg, transparent, #000);
  margin: 0;
  height: 80px;
  position: relative;
}

.navbar-content {
  max-width: 1272px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 40px;
  fill: #f2f2f2;
}
