<h1>Working Hours</h1>


<p-card class="block w-8 m-auto" header="Standard Hours">

  <div>
    <form [formGroup]="workingHoursForm" (ngSubmit)="sendForm()">

      <app-standard-hour formControlName="monday" labelName="Monday"></app-standard-hour>
      <app-standard-hour formControlName="tuesday" labelName="Tuesday"></app-standard-hour>
      <app-standard-hour formControlName="wednesday" labelName="Wednesday"></app-standard-hour>
      <app-standard-hour formControlName="thursday" labelName="Thursday"></app-standard-hour>
      <app-standard-hour formControlName="friday" labelName="Friday"></app-standard-hour>
      <app-standard-hour formControlName="saturday" labelName="Saturday"></app-standard-hour>
      <app-standard-hour formControlName="sunday" labelName="Sunday"></app-standard-hour>

      <p-button label="Save Schedule"
                type="submit"
                icon="pi pi-save"
                styleClass="p-button p-button-primary"
                [disabled]="workingHoursForm.invalid"></p-button>

      <p-button label="Cancel"
                type="reset"
                icon="pi pi-trash"
                styleClass="p-button-outlined p-button-secondary"></p-button>
    </form>

  </div>


</p-card>


