<h1>Working Hours</h1>


<p-card class="block w-8 m-auto" header="Standard Hours">

  <div>
    <form [formGroup]="workingHoursForm" (ngSubmit)="sendForm()">

      <app-standard-hour formControlName="monday" labelName="Monday"></app-standard-hour>
      <app-standard-hour formControlName="tuesday" labelName="Tuesday"></app-standard-hour>
      <app-standard-hour formControlName="wednesday" labelName="Wednesday"></app-standard-hour>
      <app-standard-hour formControlName="thursday" labelName="Thursday"></app-standard-hour>
      <app-standard-hour formControlName="friday" labelName="Friday"></app-standard-hour>
      <app-standard-hour formControlName="saturday" labelName="Saturday"></app-standard-hour>
      <app-standard-hour formControlName="sunday" labelName="Sunday"></app-standard-hour>

      <p-button type="submit" [disabled]="workingHoursForm.invalid">Save</p-button>
    </form>

    <pre> {{ debug }} </pre>
  </div>


</p-card>


