<div class="text-center">
  <p-button label="Start Drawing!"
            icon="pi pi-pencil"
            styleClass="p-button-outlined p-button-primary"
            (click)="addInteraction()"/>

</div>

<div id="ol-map-container" class="map-container"></div>

<div class="text-center">
  <p-button label="Reset Selection"
            icon="pi pi-eraser"
            styleClass="p-button-outlined p-button-danger"
            (click)="clearDrawing()"/>

  <p-button label="Save Area"
            icon="pi pi-save"
            styleClass="p-button-outlined p-button-warning"
            (click)="saveShippingArea()"/>
</div>
